#blackCard{
    border: solid 2px black;
    width: 150px;
    height: 210px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    color: white;
    background-color: black;
    float: left;
    font-weight: bold;
    font-size: 16px
}

#whiteCard{
    border: solid 2px black;
    width: 150px;
    height: 210px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    float: left;
    font-weight: bolder;
    font-size: 16px;
}

#signup{
    float: left;
    margin-right: 10px;
}
